<robot name="example_track" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- -->

    <xacro:include filename="$(find gazebo_continuous_track)/urdf/macros_trajectory_gazebo.urdf.xacro" />
    <xacro:include filename="example_track.urdf.xacro" />

    <!-- -->

    <xacro:make_straight_segment name_prefix="upper_segment" x="-0.35" z="0.125" mass="0.1" size_x="0.7" size_y="0.5" size_z="0.2" parent="body" />
    <xacro:make_arc_segment name_prefix="front_segment" x="0.35" z="0.125" mass="0.1" length="0.5" radius="0.125" parent="body" />
    <xacro:make_straight_segment name_prefix="lower_segment" x="0.35" z="-0.125" pitch="${pi}" mass="0.1" size_x="0.7" size_y="0.5" size_z="0.2" parent="body" />
    <xacro:make_arc_segment name_prefix="rear_segment" x="-0.35" z="-0.125" pitch="${pi}" mass="0.1" length="0.5" radius="0.125" parent="body" />

    <gazebo>

        <xacro:property name="element_material">
            <material>
                <ambient>0.1 0.1 0.1 1</ambient>
                <diffuse>0.2 0.2 0.2 1</diffuse>
                <specular>0 0 0 1</specular>
                <emissive>0 0 0 1</emissive>
            </material>
        </xacro:property>

        <plugin name="continuous_track" filename="libContinuousTrack.so">
            <!-- -->
            <sprocket>
                <joint>sprocket_axle</joint>
                <pitch_diameter>0.24</pitch_diameter>
            </sprocket>
            <!-- -->
            <trajectory>
                <segment>
                    <joint>upper_segment_joint</joint>
                    <end_position>0.7</end_position>
                </segment>
                <segment>
                    <joint>front_segment_joint</joint>
                    <end_position>${pi}</end_position>
                </segment>
                <segment>
                    <joint>lower_segment_joint</joint>
                    <end_position>0.7</end_position>
                </segment>
                <segment>
                    <joint>rear_segment_joint</joint>
                    <end_position>${pi}</end_position>
                </segment>
            </trajectory>
            <!-- -->
            <pattern>
                <elements_per_round>80</elements_per_round>
                <element>
                    <xacro:make_box_collision pose="0 0 0.01 0 0 0" size="0.05 0.5 0.02" />
                    <xacro:make_box_visual pose="0 0 0.01 0 0 0" size="0.05 0.5 0.02">
                        <xacro:insert_block name="element_material" />
                    </xacro:make_box_visual>
                </element>
                <element>
                    <xacro:make_box_collision pose="0 0 0.02 0 0 0" size="0.02 0.5 0.04" />
                    <xacro:make_box_visual pose="0 0 0.02 0 0 0" size="0.02 0.5 0.04">
                        <xacro:insert_block name="element_material" />
                    </xacro:make_box_visual>
                </element>
            </pattern>
        </plugin>

        <!-- ros_control for gazebo -->

        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>false</legacyModeNS>
        </plugin>

    </gazebo>

</robot>